language: python
python:
- 2.7
- 3.3
- 3.4
- 3.5
- nightly
- pypy
# Not useable until PyPy 2.6 is available
#- pypy3
# We force an overwrite of the virtualenv so we run the tests with the
# pypy from the ppa
before_install:
   - |
      if [ "$TRAVIS_PYTHON_VERSION" = "pypy" ]; then
         VPATH=$VIRTUAL_ENV
         deactivate
         # The old files break pip, so get rid of them
         rm -rf $VPATH/lib-python $VPATH/bin
         virtualenv -p /usr/bin/pypy $VPATH
         source $VPATH/bin/activate
      fi

install: pip install -e .
script: AUDIODEV=null xvfb-run python -m test
sudo: false
addons:
  apt:
    sources:
    - pypy
    packages:
    - libffi-dev
    - libjpeg-dev
    - libpng-dev
    - libsdl-image1.2-dev
    - libsdl-mixer1.2-dev
    - libsdl-ttf2.0-dev
    - libsdl1.2-dev
    - pypy
    - xvfb
